HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00000-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00001-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00002-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00003-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00004-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00005-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00006-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00007-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00008-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00009-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00010-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-000011-of-00012.arrow
HW3/llms-class-hw-3-main/src/train_data_tokenised/data-00011-of-00012.arrow
outputs/GPT-final-2/model.pt
outputs/GPT-tiny/model.pt
